<img class="logo" src="assets/logo.png" alt="image">

<form>
    <div class="mb-3 row">
        <div>
            <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Busqueda:</label>
            <div class="col-xs-1 col-sm-auto">
                <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" />
            </div>
        </div>
        <div>
            <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Tipo de
                convocatoria:</label>
            <div class="col-xs-1 col-sm-auto">
                <select class="form-select" aria-label="Default select example" id="tipo" [formControl]="filter2">
                    <option value="-">Escoja un tipo</option>
                    <option value="Todos">Todos</option>
                    <option value="Bienes">Bienes</option>
                    <option value="Consultoria">Consultoria</option>
                    <option value="Obras">Obras</option>
                    <option value="Servicios Generales">Servicios Generales</option>
                </select>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-secondary btn-lg px-4 gap-3" (click)="regresar()">Regresar</button>

</form>

<div class="table-responsive">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Entidad</th>
                <th scope="col">Objeto</th>
                <th scope="col">Fecha limite</th>
                <th scope="col">Fecha pub.</th>
                <th scope="col">Ver datos CUCE</th>

                <th scope="col">Tipo</th>
                <th scope="col">Categoria</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let convocatoria of convocatorias$ | async; index as i">
                <th scope="row">{{ i + 1 }}</th>

                <td><ngb-highlight [result]="convocatoria.entidad" [term]="filter.value"></ngb-highlight></td>
                <td><ngb-highlight [result]="convocatoria.objeto" [term]="filter.value"></ngb-highlight></td>
                <td><ngb-highlight [result]="convocatoria.presentacion" [term]="filter.value"></ngb-highlight>
                    <button type="button" class="btn btn-success">Vigente</button>
                </td>
                <td><ngb-highlight [result]="convocatoria.publicacion" [term]="filter.value"></ngb-highlight></td>
                <td>
                    <button type="button" class="btn btn-primary" (click)='ira(convocatoria.link)'>Ver</button>
                </td>

                <td><ngb-highlight [result]="convocatoria.tipo" [term]="filter.value"></ngb-highlight></td>
                <td><ngb-highlight [result]="convocatoria.categoria" [term]="filter.value"></ngb-highlight></td>
            </tr>
        </tbody>
    </table>
</div>